@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    background: #bbc6fa;
}

.hadith-box {
    background-color: #fff;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.hadith-box h1 {
    font-size: 36px;
    margin-bottom: 40px;
    position: relative;
    color: rgb(78, 0, 78);
}

.hadith-box h1::after {
    content: '';
    width: 180px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.hadith-box blockquote {
    font-size: 26px;
    min-height: 110px;
}

.hadith-box blockquote::before,
.hadith-box blockquote::after {
    content: '"';
}

.hadith-box span {
    /* display: block; */
    margin-top: 10px;
    float: right;
    position: relative;
}

.hadith-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 55%;
    left: -30px;
}

.hadith-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.two-btn button {
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 18px;
}

.two-btn button i {
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    font-size: 18px;
    color: blue;
}

.two-btn button:nth-child(2) {
    background: transparent;
    color: #333;
}

#input-box {
    background: transparent;
    border: 2px solid rgb(23,124,229);
    outline: none;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 40px;
}

#search {
    background-color: rgb(23, 124, 229);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
}